<div class="container-fluid" *ngIf="event">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h2 class="m-0 font-weight-bold text-dark">
                        {{event.name}}
                    </h2>
                    <a class="h-5 pt-2" role="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div>
                        {{event.description}}
                        <hr>
                        <h5 class="font-weight-bold">Galerie : </h5>
                        <img src="{{event.imagePath}}" class="w-25">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>